<article class="blog-card none flexbox" rrealsrc="url(/{{ .Params.cover }})" style="/placeholder.svg">
  <img class="image jsonly" src="/placeholder.svg" rrealsrc="url(/{{ .Params.cover }})"></img>
    <div class="title-content">

      <h3>
        <a class="title" href={{ .Permalink }}>{{ .Title }}</a>
      </h3>

      <div class="subtitle">{{ .Params.description | emojify  | markdownify }}</div>
    </div>

    <div class="utility-info">
      <ul class="utility-list">
        <!-- icon must be in same container as text to be in same line -->
        <li>
          <div>
            <span><div class="icon">&#xf133;&nbsp;&nbsp; {{ .Date.Format "Jan 2, 2006" }}</div></span>
          </div>
        </li>

        <li>
          <div>
            <span><div class="icon">&#xf017;&nbsp;&nbsp; {{ .ReadingTime }} min read</div></span>
          </div>
        </li>

       </ul>
     </div>

  <div class="color-overlay"></div>
</article>
