{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "frontmenu" }}
{{ partial "nav.html" . }}
{{ end }} 
{{ define "main" }}
<div class="article-wrapper white">
			<h1 class="post-title">
				{{ .Title }}
			</h1>
			<div class="sub header">
					<div>
              <span><div class="icon article">&#xf133;</div>{{ .Date.Format "Jan 2, 2006" }}</span>
          </div>
					<div>
              <span><div class="icon article">&#xf017;</div>{{ .ReadingTime }} min read</span></div>
					<div>
              <span>
                  <div class="icon article">&#xf102;</div>
                  {{ i18n "updateAt" }} {{ dateFormat "Jan 2, 2006" .Lastmod }}
              </span>
          </div>
			</div>
			<hr>
			{{- if .Site.Params.enableToc -}}
			{{- if .TableOfContents -}}
			<div class="toc">
				{{- .TableOfContents -}}
			</div>
			{{ end }}
			{{ end }}
			<article class="post-content">
				{{ partial "anchor.html" .Content }}
			</article>
            <script async src=/js/lazyload.js></script>
		</section>
		<section>
			{{- if isset .Params "tags" -}}
				{{- partial "tags.html" . -}}				
			{{ else }}
			<span>{{ i18n "noTag" }}</span>
			{{ end }}
		</section>
</div>
{{ end }}
