/* card titels */
@font-face {
  font-family: 'Abril Fatface';
  font-display: swap;
  src: url('../../fonts/AbrilFatface-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata.otf') format('opentype');
}

/* categories */
@font-face {
  font-family: 'Bebas Neue';
  font-display: swap;
  src: url('../../fonts/BebasNeue Regular.otf') format('opentype'), url('../fonts/BebasNeue Regular.ttf') format('truetype');
}
