:root {
	--fallback-bg-color: #40e0d0, #ff8c00, #ff0080;
}

#content browser {
		overflow-y: scroll;
		overflow-x: hidden;
}

/* disable the default scrollbar */
html {
    overflow-x: hidden;
    overflow: hidden;
}

body, body.pushable {
	  display: block;
	  background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover !important;
	  background: linear-gradient(to right, var(--fallback-bg-color)) !important;
		margin: 0
}

/* fonts */
@font-face{
	  font-family: Icons;
    font-display: swap;
	  src: url('https://media.atlantishq.de/blog/themes/default/assets/fonts/icons.woff2')
}

/* links */
a{
    color: #4183c4;
    text-decoration: none;
}

/* icons */
.icon{
		font-family: Icons;
		color: white;
		margin-right: 0.5rem;
}
.icon.article{
    color: rgba(0,0,0,0.6);
    font-size: 19.6px;
}


/* ######################## navbar ######################## */
.navbar {
  	width: 100%;
		margin-bottom: 1rem;
  	background-color: rgba(0,0,0,0.4);
		font-size: 28px;
		min-height: 38px;
}
.navbar a {
  	text-decoration: none;
}
.nav-item {
		float: left;
		opacity: 0.8;
		margin: 3.5px;
		padding-left: 10px;
}
.float-right{
		float: right;
}

/* ######################## header ######################## */
.header-box{
		text-align: center;

        /*max-width: 600px;*/
        min-width: 200px;

		padding-top: 10px;
		padding-bottom: 10px;

		margin-top: 10px;
		margin-bottom: auto;
		margin-left: 20px;
		margin-right: 20px;
		
		background-color:rgba(0, 0, 0, 0.75);
		color: white;
		border-radius: 5px;

		font-family:	Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

/* ######################## author ######################## */
.author-box{

}

.author-name{
        font-size: 3em;
}

.author-motto{
		font-size: 1em;
		font-weight: normal;
        font-style: italic;
}

/* ######################## tags ######################## */
.tag-box{
		border-top: 		2px solid #555;
		border-bottom: 	2px solid #555;
		padding-top: 		10px;
		padding-bottom: 10px;
}

.tag-label{
		text-decoration: none;
		background: rgb(219, 40, 40);
    color: white !important;

		padding: 7px;

		margin: 5px;
		display: inline-block;

		border-radius: 5px;
		color: inherit;

		font-size: 12px;
		font-weight: 700;
}

/* ######################## footer ######################## */
.footer-box{
		font-size: 80%;
}

/* ######################## avatar ######################## */
.avatar-box{

}

.avatar-box img{
		border-radius: 500rem;
		max-height: 100%;
		max-width: 40%;
}

/* ######################## floating post-cards ######################## */
/* main floating wrapper */
.float-toplevel {
    display: flex;
    margin-left: 0;
    margin-right: 0;
}

/* cards floating on main page */
.post-list {
		height: auto;
		width: auto;
        margin-top: 10px;
  	    overflow: hidden;
		margin-left: 2%;
		margin-right: 2%;
}     
.post-list .cards{
		margin-right: 1rem;
		margin-left:  0rem;
		flex-wrap:		wrap;
}

/* floating boxes */
.row.box {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.column-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.both.flexbox {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.none.flexbox {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.shrink.flexbox {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.grow.flexbox {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

/* article view */
.article-wrapper {
    background-color: #1b1c1ded;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 15.4px;
    color: rgba(255,255,255,0.9);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.article-wrapper.white {
    background-color: #ececece8;
    color: rgba(0,0,0,0.6);
    max-width: 1400px;
    float: center;
    margin: auto;
}

.article-wrapper-floating {
    background-color: #1b1c1ded;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 15.4px;
    color: rgba(255,255,255,0.9);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: auto;
    margin-top: 10px;
    padding: 10px;
    width: 60%;
}

/* ######################## media-modifiers ######################## */
/* ######################## responsive css  ######################## */
/*Computer view*/
@media only screen and (min-width: 1000px) {
  .blog-card {
    width: calc(50% - 1rem);
  }
}
/* half screen */
@media only screen and (max-width: 1000px) {
  .blog-card {
    max-width: 300px;
  }
}

/* ######################## permalink in posts  ######################## */
.anchor {
  visibility: visible;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor,
h7:hover .anchor,
h8:hover .anchor,
h9:hover .anchor {
  visibility: visible;
}

/*Background*/
.blur-overlay {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: inherit;
  --webkit-filter: blur(var(--blurEff));
  filter: blur(var(--blurEff));
}

.pusher {
  background-color: transparent !important;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto !important;
}

.pusher.dimmed {
  overflow-y: hidden !important;
}

.pusher::-webkit-scrollbar {
  width: 0.8vw;
}

.pusher::-webkit-scrollbar-thumb {
  background: #aaa;
  background-color: rgba(255, 255, 255, 0.4);
}
.pusher::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.ui.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}

.ui.label {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

ul > li {
  margin-bottom: 0.2rem;
  /* remove bullet points */
  list-style-type: none;
}

/*Post settings*/
.post-title {
  color: black;
  font: bold 3rem 'Bebas Neue';
  margin-bottom: 1px;
  text-decoration: none;
}

.post-head .sub.header {
  letter-spacing: 0.05em;
  font: 1.4rem 'Bebas Neue';
}

.sub.header div {
  display: inline-block;
}

.sub.header div:not(:last-child) {
  margin-right: 1rem;
}

.sub.header span {
  white-space: nowrap;
}

.sub.header i:not(.comment) {
  margin-right: 0.1rem !important;
}

.toc {
  font-size: 1.1rem;
  line-height: 1rem;
  background-color: #ffffff70;
  border: 1px solid #8a8a8a6b;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow-x: auto;
}

.post-content {
  font-size: 1.1rem;
}

.post-content blockquote {
  background: #f9f9f9;
  border-left: 8px solid #ccc;
  padding: 0.4em 0.8em;
  margin: 0.5em 0 0.5em 0;
}

.post-content ul + blockquote {
  margin-left: 2.5em;
}

.post-content code {
  font-size: 0.8em;
  background-color: #c0c9c833;
  padding: 0 0.2em;
  border: 1px solid #929696;
  border-radius: 0.2em;
}

.post-content pre code {
  /*font-family: 'Inconsolata';*/
  font-family: monospace;
  font-size: 15px;
  background-color: unset;
  border: unset;
}

.post-content img:not(.emoji) {
  position: relative;
  max-width: 80%;
  display: block;
}

/*Code Block*/
.post-content pre {
  background: #ffffff70;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  background-color: #ffffff70;
  border: 1px solid #8a8a8a6b;
  border-radius: 5px;
  overflow-x: auto;
}

/*Header*/
#header {
  padding: 0;
}

#header section, #header header, #header footer {
  background-color: transparent;
}

#header .title.header-title, #header .active.title.header-title, #header .title.active.header-title {
  padding: 0;
}

/*Card settings*/
.blog-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-right: 0.5em;
  margin-left: 0.5em;
  float: none;
  color: #fff;
  transition: 0.4s;
  background: white;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 1);
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  
  height: fit-content;
  max-width: 400px;
  min-width: 400px;
  max-height: 305px;
}

.blog-card:hover {
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
}

.blog-card .image {
  visibility: hidden;

  /* contain images but do not change aspect ratio */
  object-fit: contain;
  
  /* important for fitting title */
  width: 100%;
  height: 100%;
}

.title-content {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
  text-align: center;
  z-index: 2;
  width: 100%;
  /* move up transition */
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
 
.card.title-content {
  opacity: 0;
  bottom: 0;
}

.blog-card:hover .card.title-content {
  opacity: 1;
  bottom: 0;
}

.blog-card:hover .title-content {
  bottom: 5rem;
}

.blog-card .title {
  color: #fff;
  font: 400 2rem 'Abril Fatface';
  letter-spacing: 1px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}


/* seperator line */
.blog-card h3:after {
  content: " ";
  display: block;
  width: 10%;
  height: 0.2rem;
  margin: 0.5em auto;
  border: 0;
  z-index: 2;
  background: #BDA26B;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/* seperator line */
.blog-card:hover h3:after {
  animation: changeLetter 0.3s 1 linear;
  width: 80%;
}

@keyframes changeLetter {
  0% {
    width: 10%;
  }

  100% {
    width: 80%;
  }
}


/* visibility of subtitle */
.intro {
  margin: auto;
  font: 200 1.2rem 'Droid Serif Italic';
  line-height: 1.2rem;
  width: 80%;
  color: #ddd;
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 2;
}

.utility-info {
  position: absolute;
  height: auto;
  padding-left: 1em;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: left;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.1) 21%);
}

.blog-card:hover .utility-info {
  background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.2) 21%);
}


.color-overlay {
  position: absolute;
  background: rgba(0, 0, 0,0.5);
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  /* slow darkening transition */
  -webkit-transition: background 0.4s cubic-bezier(0.33, 0.66, 0.66, 1);
  -o-transition: background 0.4s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background 0.4s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.card.color-overlay {
  background: rgba(0, 0, 0 ,0);
}

.blog-card:hover .color-overlay {
  background: rgba(0, 0, 0, 0.6);
}
