body {
	display: block;
	--colorBG: "#40e0d0, #ff8c00, #ff0080";
	background: linear-gradient(to right, var(--colorBG)) !important;
}

body, body.pushable {
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover !important;
}
