/* general */
#content browser {
		overflow-y: scroll;
		overflow-x: hidden;
}

/* navbar */
.navbar {
  	width: 100%;
		height: 20px;
  	background-color: #555;
}
.navbar a {
  	float: left;
  	text-decoration: none;
}

/* header */
.header-box{
		/* height: 400px; */
		width: 400px;

		text-align: center;

		padding-top: 10px;
		padding-bottom: 10px;

		margin-top: 10px;
		margin-bottom: 10px;
		
		background-color:rgba(0, 0, 0, 0.75);
		color: white;
		border-radius: 5px;

		font-family:	Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.author-box{

}

.author-name{

}

.author-motto{
		font-size: 0.8em;
		font-weight: normal;
}

.tag-box{
		border-top: 		2px solid #555;
		border-bottom: 	2px solid #555;
		padding-top: 		10px;
		padding-bottom: 10px;
}

.tag-label{
		text-decoration: none;
		background: rgb(219, 40, 40);

		padding: 7px;

		margin: 5px;
		display: inline-block;

		border-radius: 5px;
		color: inherit;

		font-size: 12px;
		font-weight: 700;
}

.footer-box{
		font-size: 80%;
}

.avatar-box{

}

.avatar-box img{
		border-radius: 500rem;
		max-height: 100%;
		max-width: 40%;
}

/* cards floating on main page */
.post-list .cards{
		margin-right: 1rem;
		margin-left:  0rem;
		flex-wrap:		wrap;
}
