/* fonts */
@font-face{
	font-family: Icons;
  font-display: swap;
	src: url('https://media.atlantishq.de/blog/themes/default/assets/fonts/icons.woff2')
}


/* general */
#content browser {
		overflow-y: scroll;
		overflow-x: hidden;
}
body{
		margin: 0
}
a{
        color: #4183c4;
        text-decoration: none;
}

/* icons */
.icon{
		font-family: Icons;
		color: white;
		margin-right: 0.5rem;
}

.clock{

}

/* navbar */
.navbar {
  	width: 100%;
		margin-bottom: 1rem;
  	background-color: rgba(0,0,0,0.4);
		font-size: 28px;
		min-height: 38px;
}
.navbar a {
  	text-decoration: none;
}
.nav-item {
		float: left;
		opacity: 0.8;
		margin: 3.5px;
		padding-left: 10px;
}
.float-right{
		float: right;
}

/* header */
.header-box{
		text-align: center;

    max-width: 600px;
    min-width: 400px;

		padding-top: 10px;
		padding-bottom: 10px;

		margin-top: 10px;
		margin-bottom: auto;
		margin-left: 20px;
		
		background-color:rgba(0, 0, 0, 0.75);
		color: white;
		border-radius: 5px;

		font-family:	Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.author-box{

}

.author-name{

}

.author-motto{
		font-size: 0.8em;
		font-weight: normal;
}

.tag-box{
		border-top: 		2px solid #555;
		border-bottom: 	2px solid #555;
		padding-top: 		10px;
		padding-bottom: 10px;
}

.tag-label{
		text-decoration: none;
		background: rgb(219, 40, 40);

		padding: 7px;

		margin: 5px;
		display: inline-block;

		border-radius: 5px;
		color: inherit;

		font-size: 12px;
		font-weight: 700;
}

.footer-box{
		font-size: 80%;
}

.avatar-box{

}

.avatar-box img{
		border-radius: 500rem;
		max-height: 100%;
		max-width: 40%;
}

/* cards floating on main page */
.post-list {
		height: auto;
		width: auto;
  	overflow: hidden;
		margin-left: 2%;
		margin-right: 2%;
}     
.post-list .cards{
		margin-right: 1rem;
		margin-left:  0rem;
		flex-wrap:		wrap;
}
