<div class="ui inverted accordion">
	<div id="header" class="ui inverted segment column box">
		<div id="tag-category" class="{{ if not .IsPage }}active{{ end }} content">
			{{- if .Site.Params.enableTags -}}
			{{- if .Site.Taxonomies.tags -}}
			<section class="ui attached center aligned inverted segment dream-tags none flexbox">
				{{- partial "tags.html" . -}}
			</section>
			{{- end -}}
			{{- end -}}
			{{- if .Site.Params.enableCategories -}}
			{{- if .Site.Taxonomies.categories -}}
			<section class="ui attached inverted segment dream-categories both flexbox">
			<div class="inverted accordion">
				{{- partial "categories.html" . -}}
			</div>
			</section>
			{{- end -}}
			{{- end -}}
		</div>
		<footer class="ui bottom attached center aligned inverted segment">
			{{- partial "footer.html" . -}}
		</footer>
	</div>
</div>
