<nav class="navbar" id="navbar">
	<div class="nav-item">
        <a href="/about">
		    <div class="icon" title="{{ i18n "flip" }}">&#xf140;</div>
        </a>
	</div>	
	{{- if not .IsHome -}}
	<div class="nav-item">
		<a href="/">
			<div class="icon" title="Home">&#xf015;</div>
		</a>
	</div>
	{{ end }}	
	{{- if .Site.Params.enableTags -}}
	<div class="nav-item">
		<a href="/tags">
			<div class="icon" title="{{ i18n "allTags" }}">&#xf02c;</div>
		</a>
	</div>
	{{ end }}	

	{{- if .Site.Social.email -}}
	<div class="nav-item float-right">
		<a href="mailto:{{- .Site.Social.email -}}">
			<div id="mail-to" class="icon" title="Email">&#xf0e0;</div>
		</a>
	</div>
	{{ end }}
	{{- if .Site.Social.gitlab -}}
    <div class="nav-item float-right">
      <a href="https://gitlab.com/{{- .Site.Social.gitlab -}}" rel="noreferrer" target="_blank">
        <div id="gitlab-link" class="icon" title="Sheppy's GitLab">GitLab</div>
      </a>
    </div>
	{{ end }}


	{{- if not (eq .Section .Site.Params.contentType) -}}
	    {{ $paginator := .Paginate (where .Data.Pages "Type" .Site.Params.contentType ) (index .Site.Params "paginate" | default .Site.Params.itemsPerPage) }}
	{{ end }}	
</nav>
